.containerFather {
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 350px) {
    .containerFather{
     padding: 10px;
    }
  }