.navbar {
  background-color: #222831;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.navbar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar p {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.navbar button {
  width: 100px;
}

.avatar {
  width: 5vh;
  border-radius: 50%;
}
